html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.page {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.create-user-container {
  width: 80%;
  max-width: 800px;
  min-width: 500px;
  height: 530px;
  border: 1px solid #DADCE0;
  border-radius: 5px;
}
.input-text-container {
  padding: 10px;
  border: 1px solid #DADCE0;
  border-radius: 5px;
  margin: 20px 10px 2px 10px;
  height: 40px;
}
.input-text-container>label{
  position: relative;
  top:-23px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  color: #5F6367;
  background-color:white;
  font-size: 12px;
}
.input-text-container>input{
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  position: relative;
  top: -25px;
}
.input-text-container>input:focus{
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  position: relative;
  top: -25px;
}
.inputs-container {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}
.form-message {
  font-family: sans-serif;
  font-size: 13px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.error-message {
  color: red;
}
